@font-face {
    font-family: "Junior";
    src: url(../fonts/Junior.otf);
}

body {
    background-image: url(../img/star-2823526_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.4);
}

.body h1 {
    color: white;
    font-family: 'Junior';
    font-size: 400%;
}