@font-face {
    font-family: "Junior";
    src: url(../fonts/Junior.otf);
}

body {
    background-image: url(../img/star-2823526_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.4);
}

.body h1,
.body h2,
.body h3 {
    color: white;
    font-family: 'Junior';
    font-size: 400%;
    margin: 0;
    margin-top: 50px;
}

.body h2 {
    font-size: 200%;
    color: lightblue;
    margin-top: 10px;
}

.body h3 {
    font-size: 150%;
    color: lightgoldenrodyellow;
    margin-top: 0;
    margin-bottom: 50px;
}